body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*
font-size: 14/17, 15/18, 24/29
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url("../node_modules/lato-font-face/fonts/Lato-Regular.eot?v=1.0.0");
  src: url("../node_modules/lato-font-face/fonts/Lato-Regular.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../node_modules/lato-font-face/fonts/Lato-Regular.woff2?v=1.0.0") format("woff2"), url("../node_modules/lato-font-face/fonts/Lato-Regular.woff?v=1.0.0") format("woff"), url("../node_modules/lato-font-face/fonts/Lato-Regular.ttf?v=1.0.0") format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  src: url("../node_modules/lato-font-face/fonts/Lato-Bold.eot?v=1.0.0");
  src: url("../node_modules/lato-font-face/fonts/Lato-Bold.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../node_modules/lato-font-face/fonts/Lato-Bold.woff2?v=1.0.0") format("woff2"), url("../node_modules/lato-font-face/fonts/Lato-Bold.woff?v=1.0.0") format("woff"), url("../node_modules/lato-font-face/fonts/Lato-Bold.ttf?v=1.0.0") format("truetype");
  text-rendering: optimizeLegibility;
}
